################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MachineTestNimap_Amol/bin
/DAL/bin/Debug
/DAL/obj/Debug
/MachineTestNimap_Amol/obj/Debug
